@import url('https://fonts.googleapis.com/css?family=Trirong|Hind');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #232b2b;
	font-family: "Hind", Helvetica, sans-serif;
	font-size: 18px;
	color: rgb(255,255,255);
	line-height: 1.2;
}
header {
	text-align: center;
	padding: .5em;
}

.logo {
	text-align: center;
	font-family: "Trirong", Times, serif;
	font-size: 2.5em;
	margin: .5em;
}

h1 {
	font-family: "Trirong", cursive, serif;
	font-size: 2em;
	padding: 0 0 1em;
}

h2 {
	text-align: center;
	font-family: "Trirong", cursive, serif;
	font-size: 1.5em;
	padding: 0 0 1em;
}

#intro {
	color: #f2eff1;
	background-image: url("images/red_doors3.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 58%;
	padding-bottom:3.75em;
	margin-bottom: 2em;
}

#welcome {
	text-align: left;
	max-width: 70%;
	margin: auto;
}

nav a {
	font-family: "Hind", Times, serif;
	color: rgb(0,0,0);
	text-decoration: none;
	font-size: 1.75em;
	float: left;
	width: 25%;
	padding: .5em;
	background-color: #cfcfcf;
}

nav a:hover {
	color: rgb(0,0,0)
	background-color: #7f0900;
}

nav {
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);
}

a {
	text-decoration: none;
	color: #cfcfcf;
}

h3 {
	font-family: "Trirong", cursive, serif;
	text-align: center;
	text-decoration: underline;
	color: rgb(255,255,255);
	font-size: 1.25em;
	margin-bottom: .25em;
}

img {
	width: 100%;
}

footer {
	text-align: center;
	font-size: .75em;
	border-top: solid 1px white;
	padding: 2em;
	clear: both;
}

.blurbs {
	display: inline-block;
	text-align: left;
	padding: 1em .5em 0;
	float: left;
}

#services section {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0 1em 0;
	min-height: 32em;
}

#about {
	text-align: left;
	float: right;
	width: 70%;
	padding: 2em;
}

.about_contact {
	text-decoration: underline;
	color: #cfcfcf;
	font-weight: bold;
}

#contact_us {
	float: right;
	width: 30%;
	padding: 2.5em;
	margin-top: 6em;
	border-right: 1px white solid;
	color: rgb(255,255,255);
}

.wrapper {
    clear: both;
    max-width: 60em;
    margin: 0 auto .5em;
}

#intro .wrapper {
	max-width: 60%;
	padding: 4em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1020px) {
	#about {
		text-align: left;
		clear:both;
		width: 95%;
		padding: 0;
		margin: 0;
	}
	#contact_us {
		clear: both;
		width: 100%;
		border-top: 1px white solid;
		border-right: none;
	}
}

@media only screen and (max-width: 935px) {
	#about {
		clear: both;
		border-top: 1px white solid;
		padding: 1em;
	}
	#contact_us {
		padding: 1.5em;
	}
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 16px;
		line-height: 1.1;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		padding: .1em;
		margin: .25em;
	}
	#welcome {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.75em;
		padding: 0;
	}

	#intro {
	padding: 0;
	background-position: center;
	}

	#welcome {
		display: none;
	}

	nav a {
	font-size: 1.25em;
	padding: 1em;
	}
	#services section {
		float: none;
		width: 100%;
		padding: .25em;
	}
	#contact_us {
		padding: .15em;
	}
}
