@import url('https://fonts.googleapis.com/css?family=Trirong|Pinyon+Script|Hind');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #EEFFEF;
	font-family: "Hind", Helvetica, sans-serif;
	font-size: 18px;
	color: rgb(34,51,64);
	line-height: 1.2;
}
header {
	text-align: center;
	padding: 1.5em;
	background-image: linear-gradient(to bottom, #869db7,#EEFFEF);
}

h1 {
	text-align: center;
	font-family: "Trirong", Times, serif;
	font-size: 2.5em;
}

h2 {
	font-family: "Pinyon Script", cursive, serif;
	font-size: 2em;
	padding: .2em;
}
#welcome {
	text-align: left;
}
nav a {
	font-family: "Pinyon Script", Times, serif;
	color: rgb(52,75,94);
	text-decoration: none;
	font-weight: 700;
	font-size: 1.75em;
	float: left;
	width: 25%;
	padding: .5em;
	background-color: #EEFFEF;
}
nav a:hover {
	color: rgb(13,8,10);
	background-color: #CFCFCF;
}
nav {
	margin-bottom: 1em;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

a {
	text-decoration: none;
	color: rgb(31,54,64);
}

h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 1em;
	font-weight: 800;
	padding: 2em;
}

img {
	width: 100%;
	border: 1px black solid;
}

footer {
	background-image: linear-gradient(to top, #869db7,#EEFFEF);
	text-align: center;
	font-size: .75em;
	border-top: solid 1px black;
	padding: 2em;
	clear: both;
}

.blurbs {
	text-align: left;
	padding: 1em .5em 0;
}
section {
	background-color:#EEFFEF;
	padding: 2em 0;
	margin-bottom:2em;
}

#services section {
	float: left;
	width: 25%;
	margin: 0;
	padding: 1em;
}
#about {
	background: #EEFFEF;
	text-align: left;
	float: right;
	width: 70%;
	padding: 3em;
}
.about_contact {
	text-decoration: underline;
	color: rgb(33,9,9);
	font-weight: bold;
}
#contact_us {
	float: right;
	width: 30%;
	padding: 2.5em;
	border-right: 1px black solid;
	margin-top: 8.5em;
}
.wrapper {
    width: 85%;
    margin: 0 auto .5em;
    background: #eeffef;
}
header .wrapper {
	background:none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1250px) {
	section {
		padding: 1em 0;
		margin-bottom:1em;
	}

	#services section {
		float: left;
		width: 50%;
		margin: 0;
		padding: .5em;
	}
	nav a {
		padding: .1em;
	}
}

@media only screen and (max-width: 1020px) {
	#about {
		text-align: left;
		float: clear both;
		width: 95%;
		padding: 0;
		margin: 0;
	}
	#contact_us {
		float: clear both;
		width: 100%;
		padding: 1.5em;
		border-top: 1px black solid;
		border-right: none;
	}
}

@media only screen and (max-width: 935px) {
	section {
		padding: 0;
		margin-bottom:0;
	}
	#services section {
		width: 48%;
	}
}

@media only screen and (max-width: 725px) {
	#welcome {
		display: none;
}
	#services section {
		float: none;
		width: 100%
		margin: 0;
		padding: 0;
	}
	#contact_us {
		padding: .25em;
	}
	.wrapper {
    	width: 100%;
    	margin: 0 auto .25em;
}
}

