body {
	text-align: center;
	background: (75, 123, 125);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #222222;
	line-height: 1.3;
}
header {
	background-color: rgb(99, 163, 166);
	padding: 20px;
}
a {
	color: rgb(99, 163, 166);
	text-decoration: none;
	font-size: 20px;
}
h2 {
	font-family: "Brush Script MT", cursive;
	font-size: 32px;
}
footer {
	color: #000000
	font-size: 14px;
}