@import url('https://fonts.googleapis.com/css?family=Trirong|Pinyon+Script');
* {
	margin: 0;
	padding: 0;
	border-style: border-box;
}

body {
	text-align: center;
	background-color: rgb(238,255,239); 
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	color: rgb(34,51,64);
}
header {
	text-align: center;
	margin-top: 18px;
	background-image: linear-gradient(to bottom, #99B79A,#EEFFEF);
}
#welcome {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: .8em;
	color: rgb(34,51,64);
	line-height: 150%;
	padding-bottom: 1em;
	margin-left: 75px;
	margin-right: 75px;
}
h1 {
	text-align: center;
	font-family: "Trirong", Times, serif;
	font-size: 2em;
}

h2 {
	font-family: "Pinyon Script", cursive, serif;
	font-size: 1.4em;
	padding-bottom: 18px;
}

nav a {
	font-family: "Trirong", Times, serif;
	color: rgb(52,75,94);
	text-decoration: none;
	font-size: 1.2em;
	margin-right: 10px;
	padding: 40px;
}
nav {
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
a {
	text-decoration: none;
}
h3 {
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: rgb(52,75,94);
}

img {
	width: 400px;
	height: 300px;
}

footer {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: .6em;
	border-top: solid 2px black;
	padding: 2em;
}

.blurbs {
	font-size: .86em;
	display: inline-block;
}
section {
	padding: 1.2em;
	text-decoration: none;
}
#exterior {
	background-color:#EEFFEF;
}
#interior {
	background-color: #99B79A;
	border: top 1px black solid;
}
#carpentry {
	background-color: #EEFFEF;
	border: top 1px black solid
}
#furniture {
	background-color: #99B79A;
	border: top 1px black solid;
}
#decorative {
	background-color: #EEFFEF;
	border: top 1px black solid;
}
